:root{
	--primary: #6DE0D9;
	--primary-gradient: linear-gradient( #DAFAF9, #6DE0D9);
	--secondary: #2c363f;
	--text: #076786;
	--success: #9ae19d;
	--danger: #ef476f;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100vw;
	min-height: 100vh;
	font-family: sans-serif;
	font-size: 15px;
	color: var(--text);
	background: var(--secondary);
	background: var(--primary-gradient);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
header{
	padding: 10px;
}
header center h1,
header center a{
	color: var(--primary);
}
a{
	text-decoration: none !important;
}
button{
	outline: none !important;
	font-weight: bold;
	color: white;
}
ul li{list-style-type: none;}
.modal {
  display: none; 
  position: fixed; 
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: var(--text);
  margin: 20% auto;
  padding: 20px;
  border: 1px solid var(--primary);
  width: 80%;
  color: var(--secondary);
}

/* The Close Button */
.close {
  color: var(--danger);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: ;
  text-decoration: none;
  cursor: pointer;
}

#loader{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background: var(--primary);
	z-index: 50;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.6s;
}
#dice{
	animation: diceSpin 1s linear 7;
}
#main-container{
	background: rgba( 225, 225, 225, 0.3 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.30 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.68 );
	width: 750px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#scoreBoard{
	width: 100%;
	height: 70px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text);
	border-radius: 5px;
	margin: 0 0 10px 0;
}
#totalScore,
#currentScore{
	display: inline-block;
	padding: 0.5em;
	border-radius: 5px;
	background: var(--secondary);
	color: var(--primary);
	text-align: center;
}
#scoreBoard #scoreBoardTitle{flex-grow:1;}
#question-box{
	width: 70%;
	flex-grow: 1;
	padding: 10px;
	position:relative;
	height: calc((30px * 15) + 20px);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#questionHolder{
	padding: 10px;
	margin: 10px;
	background: rgba( 225, 225, 225, 0.3 );
	box-shadow: 0 8px 16px 0 rgba( 31, 38, 135, 0.30 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.68 );
	min-height: 100px;
	display: flex;
	align-items: center;
}
#options{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: space-between;
	align-content: space-between;
}
#options li{
	background: white;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	min-height: 70px;
	display: flex;
	align-items: center;
	box-shadow: 0 8px 16px 0 rgba( 31, 38, 135, 0.30 );
}
#options li:click{
	color: white;
	background: var(--text);
}
#prizeDotHolder{
	display: none;
}
#prizeListBox{
	width: 30%;
	background: var(--primary);
	border-radius: 0 10px 10px 0;
	border: 3px solid var(--primary);
	border-left: 3px solid var(--text);
}
#prizes{
	padding: 10px;
}
#prizes li{
	display: flex;
	align-items: center;
	padding: 0 10px;
	height: 30px;
	border-radius: 0;
}
.current{
	background: rgba( 225, 225, 225, 0.3 );
	box-shadow: 0 5px 10px 0 rgba( 31, 38, 135, 0.30 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 5px !important;
	border: 1px solid rgba( 255, 255, 255, 0.68 );
}
#prizes li #prizeNumber,
#title{
	flex-grow: 1;
}
#start-box{
	background: var(--primary);
	color: var(--secondary);
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: calc(100% + 40px);
	border-radius: 10px 0 0 10px;
	transition: all 0.3s;
}
#start-box center{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#start-box center button{
	height: 50px;
	width: 150px;
	background: var(--secondary);
	border: none;
	border-radius: 5px;
}
#button-box{
	padding: 1em 0;
	display: flex;
	justify-content: space-between;
}
#button-box button{
	width: 48%;
	height: 50px;
	border-radius: 5px;
	transition: all 0.3s;
}
#next-button{
	pointer-events: none;
	background: #759c82;
	border: 2px solid var(--success);
}
#quit-button{
	background: var(--danger);
	border: 2px solid var(--danger);
}
.correct{
	border: 3px solid var(--success) !important;
	color: var(--success);
}
.incorrect{
	border: 3px solid var(--danger) !important;
	color: var(--danger);
}
@keyframes diceSpin{
	0%{transform: rotate(0deg);}
	90%{transform: rotate(0deg);}
	100%{transform: rotate(180deg);}
}
